* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
li {
	list-style: none;
	display: flex;
}
a {
	text-decoration: none;
}
header{
	background: #f6f6f6;
	padding: 22px 0;
}
.header-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.header-container a {
	color: #000;
	font-size: 16px;
	padding: 27px 6px;
	margin-right: 63px;
}
.header-container a:hover {
	background: #ffea00;
}
#menu-checkbox {
	display: none;
}
ul {
	display: flex;
}
nav {
	margin-top: 20px;
}
.top-slide {
	background: url(../img/slider_bg.png) no-repeat;
	padding-top: 115px;
	padding-bottom: 300px;
	background-size: 100%;
}
.top-container {
	width: 85%;
	margin: 0 auto;
}
.top-slide h2 {
	background: #ffea00;
	display: inline;
	font-size: 70px;
	padding: 0 13px;
}
.top-slide :nth-child(2) {
	margin-bottom: 20px;
}
.top-slide p {
	font-size: 24px;
	background: #414146;
	display: inline;
	color: white;
	padding: 0 4px;
}
.specialize-container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 120px;
}
.specialize-container h3 {
	font-size: 35px;
}
.specialize-container p {
	margin-bottom: 50px;
	font-size: 24px;
}
.first-p {
	font-size: 20px;
	color: white;
}
.bottom-card {
	background: #414146;
	position: relative;
	top: -10px;
}
.specialize-cards {
	display: flex;
	justify-content: space-between;
}
.portfolio {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}
.portfolio h4 {
	background: #424147;
	font-size: 24px;
	padding: 0 8px;
	display: inline-block;
	color: #f5e10a;
	margin-bottom: 20px;
}
.portfolio p {
	color: #424146;
	font-size: 15px;
	padding-bottom: 40px;
}
.toggles button {
	border: 0;
	background: white;
	color: #424146;
	cursor: pointer;
	font-size: 16px;
	margin: 0 5px;
	margin-bottom: 30px;
}
.toggles button:after {
	content: ' / ';
}
.toggles button:last-child:after {
	content: '';
}
.posts {
	margin-top: 20px;
	width: 90%;
	margin: 0 auto;
/*	display: grid;
	grid-template-columns: auto auto auto auto;*/
}
.post {
	display: inline-block;
}
.posts img {
	max-height: 210px;
	padding: 10px;
}

.brand-slider {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 100px;
}
.brand-slider h4 {
	background: #424147;
	font-size: 24px;
	padding: 0 8px;
	display: inline-block;
	color: #f5e10a;
	margin-bottom: 20px;
}
.brand-slider p {
	color: #424146;
	font-size: 15px;
	padding-bottom: 40px;
}





@media screen and (max-width: 1000px) {
	.header-container {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.top-slide {
		background: url(../img/slider_bg.png) no-repeat;
		background-size: 1000px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.top-slide h2 {
		font-size: 32px;
	}
	.top-slide p {
		font-size: 16px;
	}
	.main-menu {
		display: none;
	}
	.main-menu li {
		width: 100%;
		display: block;
		font-size: 12px;
	}
	.main-menu a {
		display: block;
		padding: 8px;
	}
	.toggle-button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: black;
	}
	.toggle-button:after {
		content: attr(data-open);
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu {
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
		content: attr(data-close);
	}
	.header-container a {
		margin-right: -65px;
	}
	.main-menu {
		position: relative;
		top: 30px;
		right: 10px;
		padding-bottom: 20px;
	}
	.logo img {
		width: 50%;
	}
	.specialize-container h3 {
		font-size: 20px;
	}
	.specialize-container p {
		font-size: 16px;
	}
	.specialize-cards {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.bottom-card {
		width: 250px;
		margin: 0 auto;
	}
	.toggles button {
		font-size: 12px;
	}
	.posts {
		margin-top: 20px;
		width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: auto auto;
	}
	.posts img {
		width: 80%;
	}

}
